@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(30, 32, 30);
    color: rgb(236, 223, 204);
}

.wrapper {
    margin: auto;
    width: 80%;
    border: 3px solid rgb(60, 61, 55);
    border-radius: 10px;
    background-color: rgb(57, 62, 70);
    display: flex;
    align-items: center;
}

.wrapper img {
    max-width: 50px;
    border-radius: 10px;
}

.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
}
